<% if @adoption.errors.full_messages.any? %>
    
    <ul>
    <% @adoption.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
    <% end %>
    </ul>

<% end %>

<%= form_with model: @adoption do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %> <br>

    <%= f.label :description %>
    <%= f.text_area :description %> <br>

    <%= f.label :animal_id %>
    <%= f.collection_select :animal_id, @animals, :id, :name %> <br>

    <%= f.submit 'Cadastrar adoção' %>

<% end %>