<% if @animal.errors.full_messages.any? %>
    
    <ul>
    <% @animal.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
    <% end %>
    </ul>

<% end %>


<%= form_with model: @animal do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %> <br>

    <%= f.radio_button(:sex, I18n.t(:male)) %> 
    <%= f.label(:sex, I18n.t(:male)) %>

    <%= f.radio_button(:sex, I18n.t(:female)) %>
    <%= f.label(:sex, I18n.t(:female)) %> <br>

    <%= f.label :age %>
    <%= f.text_field :age %> <br>

    <%= f.label :animal_type %>
    <%= f.text_field :animal_type %> <br>

    <%= f.label :city %>
    <%= f.text_field :city %> <br>

    <%= f.submit 'Cadastrar animal' %>

<% end %>