<h1>Visualizando <% @animal.name %> </h1>

<div>
    <ul>
        <li>Nome: <%=@animal.name%></li>
        <li>Sexo: <%=@animal.sex%></li>
        <li>Idade: <%=@animal.age%></li>
        <li>Tipo de animal: <%=@animal.animal_type%></li>
        <li>Cidade: <%=@animal.city%></li>
        <li>Cuidador: <%=@animal.user_pet_care.name%></li>
    </ul>
</div>

<% if @animal.image.attached? %>
    <%= image_tag @animal.image, style: "width: 200px; display: block"%>
<% end %>

<div>
    <%= button_to 'Excluir animal', animal_path(@animal.id), method: :delete %>
</div>

<div>
<%= link_to 'Editar animal', edit_animal_path(@animal.id) %>
</div>