<h1>Visualizando adoção de <% @animal.name %> </h1>

<div>
    <ul>
        <li>Nome: </li><%=@animal.name%>
        <li>Sexo: </li><%=@animal.sex%>
        <li>Idade: </li><%=@animal.age%>
        <li>Cidade: </li><%=@animal.city%>
        <li>Cuidador: </li><%=@animal.pet_care%>
    </ul>
</div>