<h1>Visualizando adoção de <% @animal.name %> </h1>

<div>
    <ul>
        <li>Nome: </li><%=@animal.name%>
        <li>Sexo: </li><%=@animal.sex%>
        <li>Idade: </li><%=@animal.age%>
        <li>Cidade: </li><%=@animal.city%>
        <li>Cuidador: </li><%=@animal.user_pet_care.name%>
    </ul>
</div>

<div>
    <%= button_to 'Excluir adoção', animal_path(@animal.id), method: :delete %>
</div>

<div>
<%= link_to 'Editar adoção', edit_animal_path(@animal.id) %>
</div>