 <body class="bg-login"> 
  <div class="container d-flex justify-content-center text-center">

  <%= render "devise/shared/error_messages", resource: resource %>
  <div>
    <div class="mt-5">
     <h2 class="form-h">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-3 mt-5" >
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"E-mail" %>
      </div>

      <div class="mb-3">
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Senha" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="input-group mb-3 mt-2 ms-4 me-3">
          <div class="input-group-text mt-2 ">
            <%= f.check_box :remember_me, class:"form-check-input mt-0" %>
            <%= f.label :remember_me, class:"ms-2 fw-light" %>
          </div>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-primary" %>
      </div>
    <% end %>

    <div>
      <%= render "devise/shared/links" %>
    </div>

    </div>
  </div>
  </div>
</body>
